@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: #001207;
}

.lead {
  color: white;
  font-family: "Inter", "Poppins";
  width: 70vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lead h1 {
  font-family: "Poppins", "Inter";
  font-size: 3.5rem;
  font-weight: 700;
}

.caixa {
  width: 70%;
}

strong {
  color: #0dc043;
  font-weight: 700;
}
.articles {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lead button {
  background-color: #0dc043;
  padding: 2rem 9rem;
  border-radius: 50px;
  color: #001207;
  font-size: 3rem;
  font-family: "Poppins", "Inter";
  font-weight: 700;
}
